{% extends 'layouts/layout.twig' %}
{% block title %}Blank{% endblock %}

{% block content %}
	
	<div class="formWrapper">

		<section class="settings">
			{{ content }}
		</section>

		<input id="path" type="hidden" value="{{ item.urlRel }}" required readonly />
		{{ csrf_field() | raw }}

	</div>

{% endblock %}