{% extends 'layouts/layout.twig' %}
{% block title %}Blank{% endblock %}

{% block content %}
	
	<div class="formWrapper">

		<section class="settings">
			{{ content }}
		</section>
	
	</div>

{% endblock %}