{% extends 'layouts/layoutAuth.twig' %}
{% block title %}Login{% endblock %}

{% block content %}

	<div class="setupWrapper extrawidth">
		
		<div class="authformWrapper">

			<h1>{{ title }}</h1>
			<p>{{ message }}</p>

		</div>
		<div class="setupContent">
			<p><a href="{{ base_url() }}/tm/login">{{ __('back to login') }}</a></p>
		</div>
	</div>
	<footer></footer>
{% endblock %}