{% extends 'layouts/layoutContent.twig' %}
{% block title %}{{ translate('Visual Editor') }}{% endblock %}

{% block content %}
	
	<h1 class="text-3xl font-bold mb-4">{{ translate('Visual Editor') }} </h1>
	
	<div id="editor" v-cloak></div>

{% endblock %}

{% block javascript %}

{% endblock %}
