{% extends 'layouts/layoutBlank.twig' %}

{% block title %}ERROR 404: Page not found{% endblock %}

{% block content %}

	<h1>Not Found</h1>
	<p>Sorry, but we did not find the page that you are looking for.</p>
	
{% endblock %}