<nav class="side-menu">
	<h3>Contribute</h3>
	<p>Are you a frontend developer and do you want to participate and contribute?</p>
	<p>Contribute are welcome on <a href="https://github.com/trendschau/typemill">GITHUB</a>.</p>
</nav>