{% if flash.getMessage('info') %}

	<div class="alert alert-info" id="flash-message">
		{{ __(flash.getMessage('info') | first) }}
	</div>

{% endif %}

{% if messages.info %}

	<div class="alert alert-error" id="flash-message">
		{{ __(messages.info | first) }}
	</div>

{% endif %}

{% if flash.getMessage('error') %}

	<div class="alert alert-error" id="flash-message">
		{{ __(flash.getMessage('error') | first) }}
	</div>

{% endif %}

{% if messages.error %}

	<div class="alert alert-error" id="flash-message">
		{{ __(messages.error | first) }}
	</div>

{% endif %}