{% extends 'layouts/layoutContent.twig' %}
{% block title %}Content{% endblock %}

{% block content %}
	
	<div class="formWrapper">

		<section>
			<div id="editor" class="editor">
				<form action="#" @submit.prevent="saveMarkdown">
					<fieldset>
						<div class="large" :class="{'error' : errors.title}">
							<label for="title">Title*</label>
							<input id="title" name="title" type="text" v-model="form.title" required />
							<span class="error" v-if="errors.title">${ errors.title }</span>
						</div>
						<div class="large" :class="{'error' : errors.content}">
							<label for="content">Content*</label>
							<resizable-textarea>
								<textarea id="content" v-model="form.content" required></textarea>
							</resizable-textarea>
							<span class="error" v-if="errors.content">${ errors.content }</span>
						</div>
						<input id="path" type="hidden" value="{{ item.urlRel }}" required readonly />
						<div class="large">
							<button :class="bresult" :disabled="bdisabled">Save</button>
							<div v-if="errors.message" class="message error">${ errors.message }</div>
						</div>
					</fieldset>
				</form>
			</div>
			<input id="origTitle" style="display:none" value="{{title}}">
			<textarea id="origContent" style="display:none">{{ content }}</textarea>
			{{ csrf_field() | raw }}

		</section>
		
	</div>
	
{% endblock %}