{% extends 'layouts/layoutContent.twig' %}
{% block title %}Content{% endblock %}

{% block content %}
	
	<div class="formWrapper">

		<section>
			<form>
				<fieldset>
				
					<div class="large">
						<label for="title">Title*</label>
						<input name="title" type="text" value="{{ title }}" required />
					</div>
					<div class="large">
						<label for="content">Text*</label>
						<textarea name="content" rows="20" required>{{ content }}</textarea>
					</div>
				</fieldset>
			</form>
			
		</section>
		
	</div>
	
{% endblock %}