{% extends 'layouts/layoutContent.twig' %}
{% block title %}Content{% endblock %}

{% block content %}
	
	<div class="formWrapper">

		<section>
			<form>
				<fieldset>
					<div id="editor" class="editor">
						<div class="large">
							<label for="title">Title*</label>
							<input name="title" id="title" type="text" value="{{ title }}" required />
						</div>
						<input name="url" id="url" type="hidden" value="{{ item.urlRel }}" required />
						<div class="large">
							<label for="content">Content*</label>
							<resizable-textarea>
								<textarea id="content" v-model="markdown" name=="content" required></textarea>
							</resizable-textarea>
						</div>
						<div class="large">
							<button v-on:click="saveMarkdown">Save</button>
							<div id="message" class="message"></div>
						</div>
					</div>
				</fieldset>
			</form>
			<textarea id="origContent" style="display:none">{{ content }}</textarea>
		</section>
		
	</div>
	
{% endblock %}