{% set nowYear = "now"|date("Y") %}
{% if settings.year is empty or settings.year == nowYear %}
    {% set copyrightYears = nowYear %}
{% else %}
    {% set copyrightYears = settings.year ~ ' - ' ~ nowYear %}
{% endif %}

<div class="copyrightLine"><p>{{ settings.copyright }} by {{ settings.author }}, {{ copyrightYears }}. All Rights Reserved. Built with <a href="https://typemill.net">TYPEMILL</a>.</p></div>