/********************
* 	SVG ICONS 		*
********************/

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon.baseline{
  top: 0.125em;
  position: relative;	
}

[v-cloak] {
  display: none;
}
.initial-enter-active,
.initial-leave-active {
  transition: opacity 0.2s ease;
}

.initial-enter-from,
.initial-leave-to {
  opacity: 0;
}