{% extends 'layouts/layoutAuth.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

	<div class="flex justify-end">
		
		<div class="bg-teal-600 text-white min-h-screen w-1/2 flex justify-center items-center">
			<div class="max-w-md content-center">
			
				<div class="my-2">
					<p> Done! </p>
				</div>
				
			</div>
		</div>
		
		<div class="content-center w-1/2 flex justify-center items-center">

			<div class="max-w-md content-center">
				<h1 class="text-4xl py-5">{{ title }}</h1>
				<p>{{ message }}</p>
				<p><a 	href="{{ url_for("auth.login") }}"
						class="block w-full mt-6 px-3 py-3 font-medium text-center text-xs leading-tight uppercase bg-teal-600 text-white pointer hover:bg-teal-700 cursor-pointer focus:outline-none focus:ring-0 transition duration-100 ease-in-out"
						>{{ 'to the login page'|translate }}</a></p>
			</div>
		
		</div>
	
	</div>
{% endblock %}