{% extends 'layout.twig' %}

{% block title %}ERROR 404: Page not found{% endblock %}

{% block content %}

<section class="bg-secondary w-100 dib tc bt bl br bb b--primary">

	<div class="mw7 pb7 ph3 center">
		<header class="mt6">
			<h1 class="f-large f-headline-ns lh-title mv2 pt5-ns {{ settings.themes.cyanine.fontheadline|default('tm-sans-serif') }}">Not Found</h1>
		</header>

		<div class="f5 f4-ns fw3 lh-copy">
			<p>Sorry, but we did not find the page that you are looking for.</p>
		</div>

		<a class="link bg-primary white dim ph4 pv3 mt3 dib" href="{{ base_url }}">Home</a>

	</div>

</section>
	
{% endblock %}