<div class="mh3">
	
	<h1>Ihr Demo-Zugang</h1>
	<p>Mit den folgenden Angaben haben Sie Zugang zur <a href="https://demo.typemill.pro" target="_blank">Typemill-Demo</a>. Die Zugangsdaten werden regelmäßig erneuert.</p>
	<ul>
		<li>Username: <strong>{{username}}</strong></li>
		<li>Passwort: <strong>{{password}}</strong></li>
	</ul>
	<p>Mit den Zugangsaten erhalten Sie vollen Zugriff als Administrator, sodass Sie das System ausgiebig testen können. Das System wird regelmäßig in den Ursprungszustand zurückgesetzt.</p>
</div>