
.icon-picture:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-italic:before { content: '\e806'; } /* '' */
.icon-bold:before { content: '\e807'; } /* '' */
.icon-off:before { content: '\e808'; } /* '' */
.icon-video:before { content: '\e809'; } /* '' */
.icon-upload:before { content: '\e80a'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-colon:before { content: '\e80c'; } /* '' */
.icon-pi:before { content: '\e80d'; } /* '' */
.icon-list-alt:before { content: '\e80e'; } /* '' */
.icon-resize-vertical:before { content: '\e80f'; } /* '' */
.icon-math:before { content: '\f01a'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-paragraph:before { content: '\f1dd'; } /* '' */