{% extends '/partials/layout.twig' %}

{% block title %}{{ metatabs.meta.title | default(title) }} | {{ settings.title }}{% endblock %}

{% block content %}

	{% if metatabs.meta.heroimage %}
	
		<div class="herocontainer">
			
			<img class="heroimage" src="{{ metatabs.meta.heroimage }}" alt="{{ metatabs.meta.heroimagealt }}"/>
		
			{% include '/partials/breadcrumb.twig' %}

		</div>
		
	{% else %}
		
		{% include '/partials/breadcrumb.twig' %}

	{% endif %}

	{% if item.elementType == 'file' %}

		{% include 'page.twig' %}

	{% else %}

		{% include 'chapter.twig' %}
	
	{% endif %}
	
{% endblock %}