	<section id="landingpageinfo" class="landingpageinfo w-100 dib tc bl br bb">
		
		<div class="f5 f4-ns mw7 pv6 ph3 fw3 lh-copy center">
			
			{{ markdown(settings.themes.cyanine.infoMarkdown) }}

		</div>
	
	</section>