	<section class="landingpagecontrast w-100 dib tc bl br bb">

		<div class="f4 f4-ns mw7 pv6 ph3 fw3 lh-copy center">
			<h2 class="f2">{{ settings.themes.cyanine.contrastTitle }}</h2>
			<p class="f5 f4-ns fw3 lh-copy">{{ markdown(settings.themes.cyanine.contrastText) }}</p>
			{% if settings.themes.cyanine.contrastLink %}
				<a class="button link ba dim ph4 pv3 mt3 dib" href="{{ settings.themes.cyanine.contrastLink }}">{{ settings.themes.cyanine.contrastLabel }}</a>
			{% endif %}	
		</div>

	</section>
